@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  z-index: 3;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  fill: currentColor;
}

.card-thumb {
  display: block;
}

.card-thumb__img {
  width: 100%;
  height: auto;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(48, 49, 59, 0.8);
}

.link {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link__contract {
  text-decoration: underline;
  color: #2196f3;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

label,
input,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.1429;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
}

/* секции */
.section {
  padding: 60px 0;
  margin: 0 auto;
}

@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__hero {
  padding: 118px 0;
  background-color: #2f303a;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), top/cover no-repeat url("../images/hero_mobile.jpg");
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), top/cover no-repeat url("../images/hero_mobile.jpg");
}

@media screen and (min-width: 768px) {
  .section__hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), top/cover no-repeat url("../images/hero_tablet.jpg");
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), top/cover no-repeat url("../images/hero_tablet.jpg");
  }
}

@media screen and (min-width: 1600px) {
  .section__hero {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), center/cover url("../images/hero_desktop.jpg");
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), center/cover url("../images/hero_desktop.jpg");
  }
}

.section__doing {
  padding-top: 0;
}

@media screen and (max-width: 1599px) {
  .section__doing {
    display: none;
  }
}

.section__team {
  background-color: #f5f4fa;
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.1786;
  font-weight: 700;
}

@media screen and (min-width: 1600px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1667;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1200px;
  }
}

/* логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.1667;
  font-weight: 700;
  color: #000000;
}

@media screen and (min-width: 1600px) {
  .logo {
    font-size: 26px;
    line-height: 1.1924;
  }
}

.logo__header {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1600px) {
  .logo__header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__footer {
  margin-bottom: 20px;
  color: #ffffff;
}

.logo__first-word {
  color: #2196f3;
}

.label, .cards-list__icon-features, .social-link, .form-order__label-check, .client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: auto;
    padding: 21px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1600px) {
  .contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.1667;
    font-weight: 500;
    color: #757575;
  }
}

@media screen and (min-width: 1600px) {
  .contact-list__link {
    font-size: 14px;
    line-height: 1.1429;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1600px) {
  .contact-list__icon--envelop {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1600px) {
  .contact-list__icon--phone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .cards-list {
    margin-right: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
}

@media screen and (min-width: 768px) {
  .cards-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .cards-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .cards-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.cards-list__item--grid-features, .cards-list__item--grid-team {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .cards-list__item--grid-features, .cards-list__item--grid-team {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1600px) {
  .cards-list__item--grid-features, .cards-list__item--grid-team {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.cards-list__item--grid-clients {
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .cards-list__item--grid-clients {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1600px) {
  .cards-list__item--grid-clients {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
        flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.cards-list__icon-features {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.cards-list__title-features {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1429;
  font-weight: 700;
}

.cards-list .cards-list__text-features {
  margin-bottom: 0;
  line-height: 1.7143;
  color: #757575;
}

.cards-list__project {
  background-color: #ffffff;
  margin-bottom: calc(-1 * 30px);
}

@media screen and (min-width: 768px) {
  .cards-list__project {
    margin-right: calc(-1 * 30px);
  }
}

.cards-list__item-project {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .cards-list__item-project {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1600px) {
  .cards-list__item-project {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.social-link:hover, .social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-link__icon {
  fill: currentColor;
}

.social-link__team {
  color: #afb1b8;
}

.social-link__footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn {
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.btn:hover, .btn:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn__accent {
  color: #ffffff;
  background-color: #2196f3;
}

.btn__accent:hover, .btn__accent:focus {
  outline: auto;
  outline-color: #2196f3;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn__order {
  padding: 10px 32px;
}

.btn__subscribe {
  margin: 0 auto;
  padding: 10px 28px 10px 29px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 1600px) {
  .btn__subscribe {
    margin: 0;
  }
}

.btn__order-submit {
  display: block;
  margin: 30px auto 0;
  padding: 10px 55px 10px 56px;
}

.btn__order, .btn__subscribe, .btn__order-submit {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__filters {
  padding: 6px 22px;
  white-space: nowrap;
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

.form-subscribe {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .form-subscribe {
    margin-top: 60px;
    padding-left: 166px;
  }
}

@media screen and (min-width: 1600px) {
  .form-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: auto;
  }
}

.form-subscribe__label:hover, .form-subscribe__input:hover {
  cursor: pointer;
}

.form-subscribe__label {
  margin-right: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-subscribe__input {
  width: 100%;
  padding: 15px 16px;
  margin: 20px auto;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 481px) and (max-width: 1599px) {
  .form-subscribe__input {
    width: 450px;
    display: block;
  }
}

@media screen and (min-width: 1600px) {
  .form-subscribe__input {
    margin-bottom: 0;
  }
}

.form-subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-order {
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}

.form-order__label {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.form-order__input {
  width: 100%;
  padding: 12px 0 12px 42px;
  margin-top: 4px;
  font-size: 16px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-order__input:-webkit-autofill, .form-order__input:hover, .form-order__input:focus, .form-order__input:active {
  cursor: pointer;
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0 0 0 200px #ffffff inset;
          box-shadow: 0 0 0 200px #ffffff inset;
}

.form-order__icon {
  position: absolute;
  bottom: 4px;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order__input:hover + .form-order__icon,
.form-order__input:focus + .form-order__icon {
  fill: #2196f3;
}

.form-order__label-note {
  margin-bottom: 20px;
}

.form-order__input-note {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form-order__input-note::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-order__input-note:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-order__input-note::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-order__input-note::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-order__label-check {
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1600px) {
  .form-order__label-check {
    font-size: 14px;
    line-height: 1.7143;
  }
}

.form-order__label-check:hover, .form-order__label-check:focus {
  cursor: pointer;
}

.form-order__input-check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.icon-check {
  margin-right: 8.38px;
  fill: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  background-origin: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order__input-check:hover + .icon-check,
.form-order__input-check:focus + .icon-check {
  border-color: #2196f3;
}

.form-order__input-check:focus + .icon-check {
  outline: auto;
}

.form-order__input-check:checked + .icon-check {
  background-color: #2196f3;
  outline: none;
}

.header-section {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ececec;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-section {
    position: static;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .nav__link--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .nav__link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-box {
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .footer-box {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .footer-box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .footer-box__contacts {
    padding-left: 76px;
  }
}

@media screen and (min-width: 1600px) {
  .footer-box__contacts {
    margin-right: 70px;
  }
}

.address {
  font-style: normal;
}

@media screen and (min-width: 1600px) {
  .address {
    width: 231px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1600px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  line-height: 1.7143;
  color: rgba(255, 255, 255, 0.6);
}

.address__link--light {
  color: #ffffff;
}

.social-box {
  margin: 60px 0;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .social-box {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1600px) {
  .social-box {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.text-appeal {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1429;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.hero-box .title {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  font-size: 26px;
  line-height: 1.6154;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-box .title {
    width: 360px;
  }
}

@media screen and (min-width: 1600px) {
  .hero-box .title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3637;
  }
}

.doing-card {
  position: relative;
}

.team-card-item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-card-item__content {
  padding: 30px;
}

.team-card-item__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-card-item__position {
  margin-bottom: 16px;
  color: #757575;
}

.team-card-item__name, .team-card-item__position {
  text-align: center;
  font-size: 16px;
  line-height: 1.1875;
}

.social-list {
  width: 206px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.clients-card-list {
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
}

.client-link {
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-link:hover, .client-link:focus {
  -webkit-transition-property: border, color;
  transition-property: border, color;
  border: 1px solid #2196f3;
}

.client-link__icon {
  max-width: 100%;
  fill: currentColor;
}

.filters-list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .filters-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1600px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filters-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

.project-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.project-link:hover, .project-link:focus {
  color: inherit;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.5556;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.project-content {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.project-content__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.project-content__description {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 28px;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1) rotate3d(0, 0, 0, 360deg);
          transform: translate3d(-50%, -50%, 0) scale(1) rotate3d(0, 0, 0, 360deg);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__btn-close:hover, .modal__btn-close:focus {
  cursor: pointer;
  color: #2196f3;
}

.modal__icon-close {
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  fill: currentColor;
}

.modal__appeal {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.2) rotate3d(0, -20, 0, 90deg);
          transform: translate3d(-50%, -50%, 0) scale(1.2) rotate3d(0, -20, 0, 90deg);
}

.menu-container {
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  background-color: #ffffff;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav-list {
  margin-bottom: auto;
}

.mobile-nav-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-nav-list__link {
  font-size: 36px;
  line-height: 1.1667;
}

@media screen and (min-width: 480px) {
  .mobile-nav-list__link {
    font-size: 40px;
    line-height: 1.175;
  }
}

.mobile-nav-list__link--active {
  color: #2196f3;
}

.mobile-contact-list {
  margin-bottom: 45px;
}

@media screen and (min-width: 480px) {
  .mobile-contact-list {
    font-size: 64px;
  }
}

.mobile-contact-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-contact-list__link {
  font-size: 26px;
  line-height: 1.1539;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-contact-list__link {
    font-size: 34px;
    line-height: 1.1765;
  }
}

.mobile-contact-list__link--small-font {
  font-size: 24px;
  line-height: 1.1667;
  color: #757575;
}

.mobile-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2196f3;
}

.mobile-media-list__link {
  font-size: 14px;
  line-height: 1.1429;
}

@media screen and (min-width: 480px) {
  .mobile-media-list__link {
    font-size: 18px;
    line-height: 1.2223;
  }
}
/*# sourceMappingURL=main.css.map */