.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-secondary-color;
}

.footer-box {
  text-align: center;
  color: $text-light-color;

  @media screen and (min-width: $size-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $size-tablet) and (max-width: $size-desktop - 1) {
    width: $size-tablet;
    justify-content: center;
  }

  @media screen and (min-width: $size-desktop) {
    flex-wrap: nowrap;
    text-align: left;
    align-items: baseline;
  }

  &__contacts {
    @media screen and (min-width: $size-minimum) and (max-width: $size-tablet - 1) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $size-tablet) and (max-width: $size-desktop - 1) {
      margin-right: 165px;
    }

    @media screen and (min-width: $size-desktop) {
      margin-right: 70px;
    }
  }
}

// адресный блок
.address {
  font-style: normal;
  @media screen and(min-width: $size-desktop) {
    width: 231px;
  }
  // отступы между элементами списка в адресном блоке
  &__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $size-desktop) {
      margin-bottom: 9px;
    }
  }

  &__link {
    line-height: lh-ceil(14, 24);
    color: $text-color-transparent;

    &--light {
      color: $text-light-color;
    }
  }
}

.social-box {
  @media screen and (min-width: $size-minimum) and (max-width: $size-tablet - 1) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $size-desktop) {
    margin-right: 93px;
  }
}

// заголовок списка соц. сетей
.text-appeal {
  display: block;
  margin-bottom: 20px;
  @include font-sizes-weight(14, 16, map-get($font-weights, "bold"));
  text-transform: uppercase;
}
