// index.html

.hero-box {
  @include flex-align();
  flex-direction: column;
  color: $text-light-color;

  & .title {
    width: 100%;
    @media screen and (min-width: $size-tablet) {
      width: 360px;
    }
    margin-bottom: $gap;
    display: block;
    @include font-set(26, 42, map-get($font-weights, "black"), 0.06);
    text-align: center;
    text-transform: uppercase;
  }

  @media screen and (min-width: $size-desktop) {
    & .title {
      width: 696px;
      @include font-sizes(44, 60);
    }
  }
}

// карточка примера работ
.doing-card {
  position: relative;
}

// карточка сотрудника команды
.team-card-item {
  background-color: $background-prime-color;
  box-shadow: $card-team-shawow;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  &__content {
    padding: $gap;
  }

  // имя сотрудника
  &__name {
    margin-bottom: 10px;
    font-weight: map-get($font-weights, "medium");
  }

  // должность сотрудника
  &__position {
    margin-bottom: 16px;
    color: $text-muted-color;
  }

  &__name,
  &__position {
    text-align: center;
    @include font-sizes(16, 19);
  }
}

// список ссылок на соц.сети сотрудника
.social-list {
  width: $social-list-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  // интервалы между карточками сотрудников
  &__item:not(:last-child) {
    margin-right: $social-list-item-gap;
  }
}

// карточка постоянного клиента
.clients-card-list {
  margin-right: calc(-1 * #{$gap});
  margin-bottom: calc(-1 * #{$gap});
}

// ссылка на ресурс клиента
.client-link {
  height: 92px;
  @extend %flex-element-center;
  color: $icon-color;
  @include bordered($icon-color, $border-radius);

  &:hover,
  &:focus {
    transition-property: border, color;
    @include border-solid-color($accent-color);
  }

  &__icon {
    max-width: 100%;
    fill: currentColor;
  }
}
