.menu-container {
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  max-width: $size-tablet - 1;
  min-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;

  z-index: 3;
  transform: translateX(100%);
  transition: transform $transition-duration $timing-function;
  font-weight: map-get($font-weights, "medium");
  background-color: $background-prime-color;

  // когда открыт
  &.is-open {
    transform: translateX(0);
  }
}

// список ссылок навигации
.mobile-nav-list {
  margin-bottom: auto;
  &__item:not(:last-child) {
    margin-bottom: $gap;
  }
  &__link {
    @include font-sizes(36, 42); // уменьшил шрифт для 320 экрана
    @media screen and (min-width: $size-mobile) {
      @include font-sizes(40, 47);
    }
    &--active {
      color: $accent-color;
    }
  }
}

// контактные ссылки
.mobile-contact-list {
  margin-bottom: 45px;
  @media screen and (min-width: $size-mobile) {
    font-size: 64px;
  }
  &__item:not(:last-child) {
    margin-bottom: $gap;
  }
  &__link {
    @include font-sizes(26, 30); // для 320 экранов
    color: $accent-color;
    @media screen and (min-width: $size-mobile) {
      @include font-sizes(34, 40);
    }

    &--small-font {
      @include font-sizes(24, 28);
      color: $text-muted-color;
    }
  }
}

// ссылки на соц. сети
.mobile-media-list {
  display: flex;
  justify-content: space-between;
  color: $accent-color;
  &__link {
    @include font-sizes(14, 16);
    @media screen and (min-width: $size-mobile) {
      @include font-sizes(18, 22);
    }
  }
}
