// backdrop для модального окна
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 1;
  transition: opacity $transition-duration $timing-function;
  background-color: $background-backdrop;
}

// модальное окно
.modal {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate3d(-50%, -50%, 0) scale(1) rotate3d(0, 0, 0, 360deg);
  transition: transform $transition-duration $timing-function;
  color: $text-color;
  background-color: $background-prime-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;

  @media screen and (min-width: $size-desktop) {
    width: 528px;
  }

  // кнопка закрыть модальное окно
  &__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    color: black;
    transition: color $transition-duration $timing-function;
    background-color: $background-prime-color;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus {
      cursor: pointer;
      color: $accent-color;
    }
  }

  // иконка на кнопке "закрыть" модального окна
  &__icon-close {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    fill: currentColor;
  }

  // текст-призыв модального окна
  &__appeal {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-size: 20px;
    line-height: 1.15;
    font-weight: $font-weight-bold;
  }
}

// скрыть модальное окно
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

// скрыть модальное окно
.backdrop.is-hidden .modal {
  transform: translate3d(-50%, -50%, 0) scale(1.2) rotate3d(0, -20, 0, 90deg);
}
