// навигация - контейнер
.nav {
  display: flex;

  //список ссылок навигации
  &__list {
    display: none;
    @media screen and (min-width: $size-tablet) {
      display: flex;
    }
  }

  //зазоры между ссылками
  &__item:not(:last-child) {
    @media screen and (min-width: $size-tablet) {
      margin-right: 50px;
    }
  }

  //ссылка навигации
  &__link {
    @media screen and (min-width: $size-tablet) {
      display: flex;
      align-items: center;
      padding: 32px 0;
      font-weight: $font-weight-medium;
    }

    //активная ссылка
    &--active {
      @media screen and (min-width: $size-tablet) {
        display: flex;
        position: relative;
        flex-direction: column;
        color: $accent-color;
      }

      //подчеркивание активной ссылки навигации
      &::after {
        @media screen and (min-width: $size-tablet) {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: -1px;
          border-radius: 2px;
          background-color: $accent-color;
        }
      }
    }
  }
}
