// portfolio.html

// список кнопок-фильтров
.filters-list {
  margin-bottom: 40px;
  display: flex;

  @media screen and (max-width: $size-mobile) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: $size-tablet) {
    justify-content: center;
  }

  @media screen and (min-width: $size-desktop) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: $size-mobile) {
    &__item:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }

  // интервалы между кнопками фильтра
  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

// ссылка на проект
.project-link {
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;

  // тень карточки проекта при активации
  &:hover,
  &:focus {
    color: inherit;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

// якорь для оверлея проекта
.card-thumb {
  position: relative;
  overflow: hidden;
}

// оверлей карточки проекта
.overlay-text {
  position: absolute;
  top: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  font-size: 18px;
  line-height: 1.556;
  transition: transform #{$transition-duration} #{$timing-function};
  color: $text-light-color;
  background-color: $background-overlay-op;

  // трансформация оверлея при активации
  .project-link:hover &,
  .project-link:focus & {
    transform: translate3d(0, -100%, 0);
  }
}

// блок с описание проекта
.project-content {
  padding: 20px 24px;
  border-left: $project-card-border;
  border-right: $project-card-border;
  border-bottom: $project-card-border;

  // заголовок проекта
  &__name {
    margin-bottom: 4px;
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  // описание проекта
  &__description {
    font-size: 16px;
    line-height: 1.875;
    color: $text-muted-color;
  }
}
