// кнопки на страничках
.btn {
  font-family: $font-family-site;
  outline: none;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  color: $text-color;
  background-color: $backgrount-third-color;
  border-radius: $border-radius;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $text-light-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn__accent {
  color: $text-light-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    outline: auto;
    outline-color: $accent-color;
    background: $accent-color-btn;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.btn__order,
.btn__subscribe {
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color $transition-duration $timing-function,
    outline-color $transition-duration $timing-function;
}

// кнопка перехода к заказу в секции hero
.btn__order {
  padding: 10px 32px;
}

// кнопка оптавки e-mail
.btn__subscribe {
  padding: 10px 28px 10px 29px;
  display: inline-flex;
  align-items: center;
  box-shadow: none;
}

// декорация для кнопки отправки e-mail
.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

// кнопка фильтра на страничке portfolio
.btn__filters {
  padding: 6px 22px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: $font-weight-medium;
  line-height: 1.625;
}

// кнопка оптавки формы заказа из модального окна
.btn__order-submit {
  display: block;
  margin: 30px auto 0;
  padding: 10px 55px 10px 56px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
