// кнопки на страничках
.btn {
  font-family: $font-family-site;
  outline: none;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  color: $text-color;
  background-color: $backgrount-third-color;
  border-radius: $border-radius;
  @include font-set(16, 26, map-get($font-weights, "medium"), 0.03);

  &:hover,
  &:focus {
    cursor: pointer;
    color: $text-light-color;
    background-color: $accent-color;
    box-shadow: $btn-state-shadow;
  }

  // акцентированное состояние кнопки
  &__accent {
    color: $text-light-color;
    background-color: $accent-color;

    &:hover,
    &:focus {
      outline: auto;
      outline-color: $accent-color;
      background: $accent-color-btn;
      box-shadow: $btn-active-state;
    }
  }

  // кнопка перехода к заказу в секции hero
  &__order {
    padding: 10px 32px;
  }

  // кнопка оптавки e-mail
  &__subscribe {
    margin: 20px auto 0;
    padding: 10px 28px 10px 29px;
    @include flex-align(inline-flex);
    box-shadow: none;
    @media screen and (min-width: $size-desktop) {
      margin: 0;
    }
  }

  // кнопка оптавки формы заказа из модального окна
  &__order-submit {
    display: block;
    margin: $gap auto 0;
    padding: 10px 55px 10px 56px;
  }

  &__order,
  &__subscribe,
  &__order-submit {
    @include font-set(16, 30, map-get($font-weights, "bold"), 0.06);
    transition: background-color $transition-duration $timing-function,
      outline-color $transition-duration $timing-function;
  }

  // кнопка фильтра на страничке portfolio
  &__filters {
    padding: 6px 22px;
    white-space: nowrap;
  }
}

// декорация для кнопки отправки e-mail
.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
