// общий контейнер для всех разделов и секций
.container {
  max-width: $max-width-container;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $size-tablet) {
    max-width: $size-tablet;
  }

  @media screen and (min-width: $size-desktop) {
    max-width: $size-desktop - 400px;
  }
}
