// список ссылок с контактами
.contact-list {
  display: none;

  @media screen and (min-width: $size-tablet) {
    margin-left: auto;
    padding: 21px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: $size-desktop) {
    flex-direction: row;
    padding: 32px 0;
  }

  &__link {
    @media screen and (min-width: $size-tablet) {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 1.167;
      font-weight: $font-weight-medium;
      color: $text-muted-color;
      outline: 1px solid red;
    }
    @media screen and (min-width: $size-desktop) {
      font-size: 14px;
      line-height: 1.143;
    }
  }

  &__icon {
    @media screen and (min-width: $size-tablet) {
      margin-right: 10px;
      fill: currentColor;
    }

    &--envelop {
      @media screen and (min-width: $size-desktop) {
        width: 16px;
        height: 12px;
      }
    }

    &--phone {
      @media screen and (min-width: $size-desktop) {
        width: 10px;
        height: 16px;
      }
    }
  }

  // расстояние между ссылками в шапке
  &__item:not(:last-child) {
    @media screen and (min-width: $size-desktop) {
      margin-right: 50px;
    }
  }
}
