// список ссылок с контактами
.contact-list {
  display: none;

  @media screen and (min-width: $size-tablet) {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $size-tablet) and (max-width: $size-desktop - 1) {
      &__item {
        &:first-child .link {
          padding-top: 21px;
        }
        &:last-child .link {
          padding-bottom: 21px;
        }
      }
    }
  }

  @media screen and (min-width: $size-desktop) {
    flex-direction: row;
    &__link {
      padding: 32px 0;
    }
  }

  &__link {
    @media screen and (min-width: $size-tablet) {
      @include flex-align();
      @include font-sizes-weight(12, 14, map-get($font-weights, "medium"));
      color: $text-muted-color;
    }
    @media screen and (min-width: $size-desktop) {
      @include font-sizes(14, 16);
    }
  }

  &__icon {
    @media screen and (min-width: $size-tablet) {
      margin-right: 10px;
      fill: currentColor;
    }

    &--envelop {
      @media screen and (min-width: $size-desktop) {
        width: 16px;
        height: 12px;
      }
    }

    &--phone {
      @media screen and (min-width: $size-desktop) {
        width: 10px;
        height: 16px;
      }
    }
  }

  // расстояние между ссылками в шапке
  &__item:not(:last-child) {
    @media screen and (min-width: $size-desktop) {
      margin-right: 50px;
    }
  }
}
