/* секции */
.section {
  padding: 60px 0;
  margin: 0 auto;

  @media screen and (min-width: $size-desktop) {
    padding: 94px 0;
  }

  // секция Герой
  &__hero {
    // width: $size-mobile;
    padding: 118px 0;
    background-color: $background-secondary-color;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      top / cover no-repeat url("../images/hero_mobile.jpg");

    @media screen and (min-width: $size-tablet) {
      // width: 100vw;
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        top / cover no-repeat url("../images/hero_tablet.jpg");
    }

    @media screen and (min-width: $size-desktop) {
      width: $size-desktop;
      padding: 200px 0;
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        center / cover url("../images/hero_desktop.jpg");
    }
  }

  //секция Чем мы занимаемся
  &__doing {
    padding-top: 0;
    @media screen and (max-width: $size-desktop - 1) {
      display: none;
    }
  }

  // Секция наша команда
  &__team {
    background-color: $backgrount-third-color;
  }

  // заголовок секции
  &__title {
    margin-bottom: $gap;
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: 28px;
    line-height: 1.179;

    @media screen and (min-width: $size-desktop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.167;
    }
  }
}
