/* секции */
.section {
  padding: 60px 0;
  margin: 0 auto;

  @media screen and (min-width: $size-desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  // секция Герой
  &__hero {
    // width: $size-mobile;
    padding: 118px 0;
    background-color: $background-secondary-color;
    @include hero-background($ratio: 1);
    // для ретины
    @include hero-background();

    @media screen and (min-width: $size-tablet) {
      @include hero-background(tablet, 1);
      // для ретины
      @include hero-background(tablet);
    }

    @media screen and (min-width: $size-desktop) {
      width: $size-desktop;
      padding-top: 200px;
      padding-bottom: 200px;
      @include hero-background(desktop, 1);

      // для ретины
      @include hero-background(desktop);
    }
  }

  //секция Чем мы занимаемся
  &__doing {
    padding-top: 0;
    @media screen and (max-width: $size-desktop - 1) {
      display: none;
    }
  }

  // Секция наша команда
  &__team {
    background-color: $backgrount-third-color;
  }

  // заголовок секции
  &__title {
    margin-bottom: $gap;
    text-align: center;
    @include font-sizes-weight(28, 33, map-get($font-weights, "bold"));

    @media screen and (min-width: $size-desktop) {
      margin-bottom: 50px;
      @include font-sizes(36, 42);
    }
  }
}
