// ссылки на страничках
.link {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// ссылка на договор
.link__contract {
  text-decoration: underline;
  color: $accent-color;
}

// заголовки
.title {
  margin-top: 0;
  margin-bottom: 0;
}

// общий стиль для параграфов
.text {
  margin: 0;
}

// общий стиль списков в шапке и секциях сайта
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// список карточек
.cards-list {
  display: flex;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: $gap;
  }
}

label,
input,
form {
  margin: 0;
  padding: 0;
}
