// бирка над картинкой
.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $label-height;
  @extend %flex-element-center;
  text-transform: uppercase;
  color: $text-light-color;
  background-color: $background-opacity;
}
