// сплошной борндюр с нужным цветом
@mixin border-solid-color($color) {
  border: 1px solid $color;
}
// сплошной борюр с нужным цветом и радиусом
@mixin bordered($color, $br) {
  @include border-solid-color($color);
  border-radius: $br;
}
// установка типографии
@mixin font-sizes($fs, $lh) {
  font-size: $fs + px;
  line-height: lh-ceil($fs, $lh);
}

// типография + межсимвольный интервал
@mixin font-sizes-letter-spacing($fs, $lh, $ls) {
  @include font-sizes($fs, $lh);
  letter-spacing: $ls + em;
}

// типография + начертание
@mixin font-sizes-weight($fs, $lh, $fw) {
  @include font-sizes($fs, $lh);
  font-weight: $fw;
}

// типография полный набор
@mixin font-set($fs, $lh, $fw, $ls) {
  @include font-sizes-weight($fs, $lh, $fw);
  letter-spacing: $ls + em;
}

// сброс списков
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// расчет для сетки элементов
@mixin grid($quantity, $spacing) {
  flex-basis: calc((100% - #{$quantity} * #{$spacing}) / #{$quantity});
}

// флекс с выравниванием по высоте
@mixin flex-align($disp: flex, $align: center) {
  display: $disp;
  align-items: $align;
}

@mixin hero-background($type) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: $hero-gradient,
      top / cover no-repeat url("../images/#{$type}-header-2x.jpg");
  }
}
