// сплошной борндюр с нужным цветом
@mixin border-solid-color($color) {
  border: 1px solid $color;
}
// сплошной борюр с нужным цветом и радиусом
@mixin bordered($color, $br) {
  @include border-solid-color($color);
  border-radius: $br;
}
// установка типографии
@mixin font-sizes($fs, $lh) {
  font-size: $fs + px;
  line-height: lh-ceil($fs, $lh);
}

// типография + межсимвольный интервал
@mixin font-sizes-letter-spacing($fs, $lh, $ls) {
  @include font-sizes($fs, $lh);
  letter-spacing: $ls + em;
}

// типография + начертание
@mixin font-sizes-weight($fs, $lh, $fw) {
  @include font-sizes($fs, $lh);
  font-weight: $fw;
}

// типография полный набор
@mixin font-set($fs, $lh, $fw, $ls) {
  @include font-sizes-weight($fs, $lh, $fw);
  letter-spacing: $ls + em;
}

// сброс списков
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// расчет для сетки элементов
@mixin grid($quantity, $spacing) {
  flex-basis: calc((100% - #{$quantity} * #{$spacing}) / #{$quantity});
}

// флекс с выравниванием по высоте
@mixin flex-align($disp: flex, $align: center) {
  display: $disp;
  align-items: $align;
}

// выбор градиента в герое (тип устройсва, экран)
// 1 - обычный экран
// 2 - ретина
// любое другое значение или не правильный тип устройства - серый фон
@mixin hero-background($type: mobile, $ratio: 2) {
  @if $ratio == 2 and ($type == mobile, $type == tablet, $type == desktop) {
    @media (min-device-pixel-ratio: $ratio),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: $hero-gradient,
        center / cover no-repeat url("../images/#{$type}-header-#{$ratio}x.jpg");
    }
  } @else {
    @if $ratio == 1 and ($type == mobile, $type == tablet, $type == desktop) {
      background: $hero-gradient,
        center / cover no-repeat url("../images/#{$type}-header-#{$ratio}x.jpg");
    } @else {
      // выведет первоначальный серый фон
    }
  }
}
