$max-width-site: 1600px;
$max-width-container: 1200px;

$text-color: #212121;
$text-color-transparent: rgba(255, 255, 255, 0.6);
$text-light-color: #ffffff;
$text-muted-color: #757575;

$accent-color: #2196f3;
$accent-color-btn: #188ce8;

$icon-color: #afb1b8;

$background-prime-color: #ffffff;
$background-secondary-color: #2f303a;
$backgrount-third-color: #f5f4fa;
$background-color-footer: rgba(255, 255, 255, 0.1);
$background-opacity: rgba(48, 49, 59, 0.8);
$background-overlay-op: rgba(33, 150, 243, 0.9);
$background-backdrop: rgba(0, 0, 0, 0.2);

$border-radius: 4px;
$project-card-border: 1px solid #eee;

$gap: 30px;

$card-team-shawow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

$social-link-size: 44px;

$label-height: 70px;
