//точки перелома
$size-mobile: 480px;
$size-tablet: 768px;
$size-desktop: 1600px;

// цветовая палитра
$text-color: #212121;
$text-color-transparent: rgba(255, 255, 255, 0.6);
$text-light-color: #ffffff;
$text-muted-color: #757575;

$accent-color: #2196f3;
$accent-color-btn: #188ce8;

$icon-color: #afb1b8;

$background-prime-color: #ffffff;
$background-secondary-color: #2f303a;
$backgrount-third-color: #f5f4fa;
$background-color-footer: rgba(255, 255, 255, 0.1);
$background-opacity: rgba(48, 49, 59, 0.8);
$background-overlay-op: rgba(33, 150, 243, 0.9);
$background-backdrop: rgba(0, 0, 0, 0.2);

$card-team-shawow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

// бордеры
$border-radius: 4px;
$project-card-border: 1px solid #eee;

// интервал между карточками
$gap: 30px;

// переходы
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// размер социальных иконок
$social-link-size: 44px;
// интервал между соц. иконками
$social-list-item-gap: 10px;
// ширина контейнера под иконки
$social-list-width: $social-link-size * 4 + 3 * $social-list-item-gap;

// высота подписи над картинкой
$label-height: 70px;
