//точки перелома
$size-mobile: 480px;
$size-tablet: 768px;
$size-desktop: 1600px;

// минимальная ширина экрана
$size-minimum: 320px;

// цветовая палитра
$text-color: #212121;
$text-color-transparent: rgba(255, 255, 255, 0.6);
$text-light-color: #ffffff;
$text-muted-color: #757575;

$accent-color: #2196f3;
$accent-color-btn: #188ce8;

$icon-color: #afb1b8;

$border-color: #ececec;

$background-prime-color: #ffffff;
$background-secondary-color: #2f303a;
$backgrount-third-color: #f5f4fa;
$background-color-footer: rgba(255, 255, 255, 0.1);
$background-opacity: rgba(48, 49, 59, 0.8);
$background-overlay-op: rgba(33, 150, 243, 0.9);
$background-backdrop: rgba(0, 0, 0, 0.2);

// тень карточки сотрудника
$card-team-shawow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

// тень модального окна
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

// тень кнопки при смене состояния
$btn-state-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

// тень активной кнопри при смене состяния
$btn-active-state: 0px 4px 4px rgba(0, 0, 0, 0.15);

// тень для полей ввода форм при сменен состояния и автозаполнении
$frm-input-shadow: 0 0 0 200px #ffffff inset;

// тень для карточек проектов при сменен состояния
$project-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

// кнопки
$btn-font-size: 16px;
$btn-letter-spacing: 0.03em;

// бордеры
$border-radius: 4px;
$project-card-border: 1px solid #eee;

// интервал между элементами
$gap: 30px;

// переходы
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// размер социальных иконок
$social-link-size: 44px;
// интервал между соц. иконками
$social-list-item-gap: 10px;
// ширина контейнера под иконки
$social-list-width: $social-link-size * 4 + 3 * $social-list-item-gap;

// высота подписи над картинкой
$label-height: 70px;

// градиент в герое
$hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
